<div class="container">
  <div class="col-xs-12 col-sm-8">

<!--     <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li><a href="/t">礼包圈</a></li>
      <li class="active">详情</li>
    </ol> -->

    <div class="starter-template">
      <!-- 搜索结果列表 -->
      <div class="wrap-col">
        <!-- <p><h2>邮件：service@115bar.com</h2></p> -->

      </div>

        <div class="panel panel-default text-left">
            <div class="panel-body">
                <div class="title">
                  <div class="titlf">
                    <h3>关于我们<span class="grey"> / </span><span class="entit">ABOUT</span></h3>
                  </div>
                </div>
                <div class="aboutlist">
                  <p>本站所有资源全部免费提供</p>
                  <p>本站所有资源均由网友自行发布，其内容与本站无关，本站不承担任何法律责任</p> 
                  <p>礼包资源中可能含有不知名的第三方网址或软件，请大家谨慎访问和安装，以免造成您的身份信息泄露或财产的损失！！</p> 
                </div>
            </div>
      </div>

      <div class="panel panel-default text-left">
          <div class="panel-body">
            <div class="title">
              <div class="titlf">
                <h3>联系我们<span class="grey"> / </span><span class="entit">CONTACT</span></h3>
              </div>
            </div>
            <div class="cont2_left">
              <!-- <p>电话：0574-083057589</p> -->
              <!-- <p>传真：0574-083057589</p> -->
              <p>邮箱：service@115bar.com</p>
              <!-- <p>邮编：315100</p> -->
              <!-- <p>地址：宁波市鄞州南部商务区宁波商会·国贸</p>        -->
              <!-- <p style="padding:8px 0 0 42px">中心大厦A座 1702室</p> -->
            </div>
          </div>
        </div>
    </div>



  </div>


  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" style="width:350px;">
  </div><!--/.sidebar-offcanvas-->


</div><!-- /.container -->