<div class="container">
  <div class="col-xs-12 col-sm-8 main">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">搜索</li>
  </ol>
  <div class="starter-template">
    <div class="searchd">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="sr-only control-label">115bar大搜索</label>
          <div class="col-xs-9 col-sm-10">
            <input type="text" class="form-control search_btn" id="search" placeholder="输入关键字" value="<?php echo $output['key']?>" />
          </div>
          <div class="col-sm-2">
            <input type="submit" id="btnSearch" value="搜 索" class="btn btn-info pull-left">
          </div>
        </div>
      </form>
      <div class="corrected">
        <p class="text-center">
        <?php if ($output['corrected_arr']):?>
          <span class="tags">也试试:
          <?php foreach ($output['corrected_arr'] as $key => $value):?>
            <a href="/s/<?php echo $value;?>/1"><?php echo $value;?></a>
          <?php endforeach;?>
          </span>
        <?php endif;?>
        </p>
      </div>
    </div><!-- /.searchd -->


    <!-- 搜索结果列表 -->
    <div class="topic_list">
      <ul class="list-group">
      <?php foreach ($output['list'] as $key => $value): ?>
        <li class="list-group-item">
        <a href="/info/<?php echo $value['id'];?>" target="_blank"><p class="text-justify"><?php echo $value['subject'];?></p></a>
        <span class="badge"><?php echo date("Y-m-d",$value['post_time']);?></span>
        <div class="abstract"><p class="text-justify"><?php echo $value['deal_content'];?></p></div>
        </li>
        <?php endforeach;?>
      </ul>
    </div>


  </div>

  <nav class="col-xs-12 col-sm-8">
  <?php echo $output['paginate'];?>
  </nav>
  </div><!-- /.main -->

  <div class="col-xs-12 col-sm-4 sidebar_right sidebar-offcanvas" id="sidebar">
    <!-- 相关搜索 -->
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title text-center">相关搜索</h3>
      </div>
      <div class="panel-body">
      <ul class="list-group list-unstyled">
          <?php foreach ($output['relation_arr'] as $key => $value): ?>
          <li class="list-style">
              <a href="/s/<?php echo $value;?>/1" ><p class="text-justify"><strong><?php echo $value;?></strong></p></a>
          </li>
          <?php endforeach;?>
          <?php if(empty($output['relation_arr'])):?>
            <li class="list-style">暂无</li>
          <?php endif;?>
      </ul>
      </div>
    </div>

    <!-- 热门搜索 -->
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title text-center">本周热门</h3>
      </div>
      <div class="panel-body">
      <ul class="list-group list-unstyled">
          <?php foreach ($output['hot_arr'] as $key => $value): ?>
          <li class="list-style">
              <a href="/s/<?php echo $key;?>/1" ><p class="text-justify"><strong><?php echo $key;?></strong></p></a>
              <!-- <span class="badge"><?php echo $value;?></span> -->
          </li>
          <?php endforeach;?>
          <?php if(empty($output['hot_arr'])):?>
            <li class="list-style">暂无</li>
          <?php endif;?>
      </ul>
      </div>
    </div>
  </div> <!-- /.sidebar_right -->


</div><!-- /.container -->

<script type="text/javascript">
document.getElementById("search").focus();
document.forms[0].onsubmit = function (e) {
  e.preventDefault();
  var query = document.getElementById("search").value;
  if (!query) {
    document.getElementById("search").focus(); return false;
  }
  var url = '/s/' + encodeURIComponent(query) + '/1';
  window.location= url;
  return false;
}
</script>