/* common */
html,body{height:100%;}
body{background:#f5f5f5;}
ul,li{list-style:none;}
.marl-30{margin-left:30px;}

.container{width: auto;}
/*.navbar-container,.container{width:1100px}*/
.content-bar{margin-left: 255px;margin-right: 15px;}
.navbar-container{margin:0px auto;}
.container{box-shadow: 0px 0px 2px #CFCFCF;min-height:100%;background:#fff;height: auto;overflow: hidden;}
.frame{border:0;padding:0px;margin:0px;}
.marb-10{margin-bottom:10px;}
.marl-15{margin-left:15px;}
.mart-30{margin-top: 30px;}
.padt-5{padding-top: 5px;}
.m_c_upload{position: absolute;top: 0;right: 0px;font-size: 21px;filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;width: 100%;}
.hidden{display:none;}


.left{background: #fbfbfb;padding-bottom: 99999px;margin-bottom: -99999px;border-right:#E4E4E4 solid 1px;margin-right: -1px;}
.main{padding-bottom: 99999px;margin-bottom: -99999px;}

/* reset */
.table .input-append{margin-bottom:0px;}
td.text-center{text-align:center;}

/* mx form */
.mx-form-horizontal{}
	.mx-form-horizontal .control-group{margin-bottom:10px;overflow: hidden;}
	.mx-form-horizontal .control-label{padding-top: 5px;float:left;width:120px;text-align:right;padding-right: 5px;margin: 0px;}
.mx-form-horizontal select,.mx-form-horizontal input,.mx-form-horizontal textarea,.mx-form-horizontal label{display: inline-block;margin-bottom: 0;vertical-align: middle;}
.mx-form-horizontal .controls{margin-left:100px;}

/* login */
.login{width:520px;padding:0px 0px 20px 0px;box-shadow: 0px 0px 7px #818181;background:#FDFDFD;position:absolute;left:50%;top:80px;
	margin-left:-260px;border-radius:5px;
}
	.login-title{font-size:19px;line-height:1.2em;padding:20px 0px;margin:0px;margin-bottom: 20px;color: #464646;text-align: center}

.mask-wall{width:100%;height:100%;left:0px;top:0px;background:#000;opacity:.6;position: fixed;}

/* module */
/* header */
.header{height:80px;width:100%;background:#eee;}
	/* left */
	.nav li a{padding:5px 0px;text-indent:1.5em;}
		.nav .active{background-color: #eee;color:#005580}
	.nav-title{text-indent:1em;}

/* common-home : 通用设置面板页 */
.nav-title{cursor: pointer;}

/* plugins */
	/* 地址联动 */
	.cms-plug-address-linkage{display:inline-block;}

.set-options-box li{float: left;width: 15em;margin-bottom: 10px;}
.set-options-box ul{overflow: hidden;}

/*预览优惠卷*/
.fr{float: right}
.vouc_commodity{border:1px solid #e0e0e0;width:724px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;height:544px;margin-bottom:10px;}
.vouc_commodity  .commodity_pic{height:500px;padding:1px;width:720px;position:relative;}
.commodity_ico{width:128px;height:128px;position:absolute;top:1px;left:1px;}
.discount_ico{width:131px;height:131px;position:absolute;top: 1px;right: -2px;background:url(../img/discount_ico.png) no-repeat 0 0;color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;padding:15px 10px 5px 54px;}
	.discount_nub{margin-top:10px;font-size:28px;}
.vouc_commodity_tit{background:rgba(0,0,0,0.5);background: -moz-linear-gradient(top, rgba(255,255,255,0.5) ,rgba(0,0,0,0.5)) ;background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255,255,255,0.5)), to(rgba(0,0,0,0.5)));background: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(0,0,0,0.5));padding:10px 10px;position:absolute;bottom:0;left:0;color:#deddde;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.vouc_commodity_tit h3{font-size:24px;color:#fff}
.commodity_info{height:40px;line-height:40px;color:#999;padding:0 15px;}
.vouc_price{color:#8ac53e;font-size:16px;}
.vouc_del_price{font-size:14px;text-decoration:line-through;}
.vt-item{display:inline-block;}
/*添加批号*/
.batch_number{height:300px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:12px;}
	.batch_con{margin:10px 0;}
		.batch_list{float:left;width:60%;height: 250px;}
		.batch_list .tab{max-height: 250px;height: 250px;overflow:auto;border:1px solid #ccc;padding:5px;text-align:center;}
			.batch_list .tab th{font-weight:bold;text-align:center;}
		.batch_sidebar{width:38%;float:right;}
		.batch_list .tab .del{font-weight:bold;color:red;}
/*添加批号 end*/
/*tab*/
.tab_menu{height:30px;line-height:30px;}
.tab_menu li{padding:0 30px;text-align:center;background:#ccc;cursor:pointer;color:#4e4d52;float:left;font-size: 14px;height: 30px;line-height: 30px;}
.tab_menu li.on{background:#fff;}
/*tab end*/

.lh34{line-height: 34px;}