a:visited {
    color: #600090;
    text-decoration: none;
}

em {
    color: #c00;
    font-weight: normal;
}

.starter-template {
    /*padding: 40px 15px;*/
    text-align: center;
}

.content, .abstract{
    word-break: break-all;
}

.sidebar_right {
    padding-right: 31px;
    word-break: break-all;
}

.topic_list a {
    /*float: left;*/
    width: 100%;
    line-height: 22px;
    font-family: "微软雅黑", serif;
    font-size: 16px;
    /*color: #3c3c3c; */
    font-weight: bold;
    word-break: break-all;
}

#center-box
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: table;
    margin: 0 auto;
    text-align: center;
    vertical-align:middle;
    margin-top: 150px;
}

.top50{
    margin-top:50px;
}



/**********header**********/
body, html { font-family: "微软雅黑"; font-size1: 14px;padding-top: 50px; }
ol, ul, li { list-style: none outside none; }
.none { display: none; }
a:focus { outline: none; -moz-outline: none }
.container-fixed { width: 1170px; margin: 0 auto; overflow: hidden; }
.color-red { color: #ed4747; }
.color-blue { color: #069aef; }
.color-green { color: #32b16c; }
.color-orange { color: #ff6d16; }
.pad-0 { padding: 0px; }
.text_de { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }

.read { width: 100%; overflow: hidden; padding-bottom: 10px; }

/**搜索**/
.search-col { }
.search-col .form-group { position: relative; width: 100%; }
.search-col .form-group .form-control { width: 100%; border-color: #7ec6ee; }
.search-in .navbar-search { margin-top: 0px; }
.navbar-search { height: 34px; margin-top: 20px; padding: 0px; }
.navbar-search input { color: #0071c5; bfont-size: 14px; height: auto; padding: 5px 45px 5px 12px; transition: all 200ms ease-in 0s; }
.submit { background-color: transparent; background: url(http://image.3001.net/images/new/btn-srh.jpg) no-repeat 20px 10px; border: 0 none; border-radius: 4px; height: 100%; position: absolute; right: 0; top: 0; transition: background-color 150ms ease-in 0s; width: 45px; }

/**backtop 回到顶部**/
.bottom_tools { position: fixed; z-index: 1070; right: 40px; bottom: 60px; display: block; width: 55px; height: 55px; }
.bottom_tools>* { font: 0/0 a; display: block; margin-top: 5px; color: transparent; border: 0; background-color: transparent; text-shadow: none }
.bottom_tools a { display: block; width: 55px; height: 55px; background: url(/public/img/back-top.png) no-repeat left top; }
.bottom_tools a:hover { background: url(/public/img/back-top.png) no-repeat left bottom; }

#contenttxt img { max-width:100%; }


/*文章相关*/
/*article-detial*/
.articlecontent { width: 100%; }
.articlecontent p a { color: #069aef; text-decoration: underline; }
.articlecontent .title { width: 100%; padding-bottom: 10px; border-bottom: solid 1px #e8e9ea; margin-bottom: 30px; overflow: hidden; }
.articlecontent .title h2 { float: left; width: 100%; font-size: 30px; margin: 0px; padding-bottom: 5px; font-weight: bold; }
.articlecontent .title span { display: inline-block; }
.articlecontent .property { float: left; width: 100%; line-height: 21px; margin-top: 10px; }
.articlecontent .property span { float: left; height: 22px; }
.articlecontent .property .coin { padding-right: 14px; }
.articlecontent .property .name { padding-left: 18px; padding-right: 0px; height: 20px; line-height: 20px; background: url(http://image.3001.net/images/new/news-icon.jpg) no-repeat left 3px; }
.articlecontent .property .name a { display: inline-block; margin-right: 4px; color: #19a358; }
.articlecontent .property .name a:hover { text-decoration: underline; }
.articlecontent .property .icon-f { padding-right: 11px; margin: 5px 0 0; height: 12px; overflow: hidden; }
.articlecontent .property .icon-f a { display: inline-block; height: 12px; padding: 0px; }
.articlecontent .property .icon-f img { margin: 0px; padding: 0px; }
.articlecontent .property .time { padding-left: 17px; padding-right: 12px; color: #b8b8b8; background: url(http://image.3001.net/images/new/news-icon.jpg) no-repeat left -27px; }
.articlecontent .property .look { padding-right: 13px; color: #666; }
.articlecontent .property .look strong { font-weight: normal; color: #19a358; }
.articlecontent .property .rmb { float: left; height: 12px; padding: 4px 14px 0 0px; }
.articlecontent .tags a { display: inline-block; height: 23px; line-height: 21px; color: #666666; padding: 0 10px; border: 1px solid #e2e2e2; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 6px; font-family: "微软雅黑"; text-decoration: none; }
#contenttxt { width: 100%; font-size: 14px; color: #585858; line-height: 26px; }
#contenttxt p { padding-bottom: 6px; }
#contenttxt .img { width: 100%; text-align: center; }
#contenttxt .img img { max-width: 100%; }
.articlecontent .prettyprint { line-height: 20px; }
.articlecontent iframe { width: 680px; height: 500px; }
.statement { float: left; padding-left: 20px; padding-top: 6px; }
.statement p { float: left; font-size: 14px; color: #ea6060; margin: 0px; }
.statement a { float: right; background: #90da9e; padding: 3px 10px; font-size: 12px; border-radius: 3px; border-color: #90da9e; color: #fff; }
.statement a:hover { border-color: #75c584; background: #75c584; color: #fff; }
.article-oper { width: 100%; line-height: 22px; padding-bottom: 10px; overflow: hidden; }
.article-oper .share { float: left; }
.article-oper .score { float: right; height: 14px; margin-top: 13px; }
.article-oper .but-col { float: left; padding: 0px 10px 0 0; }
.article-oper .but-col .wpfp-img { display: none; }
.article-oper .but-col .wpfp-link { float: right; text-decoration: none; background: #ffa599; padding: 2px 10px; font-size: 12px; border-radius: 3px; border-color: #ffa599; color: #fff; }
.article-oper .but-col .wpfp-link:hover { float: right; background: #ff8e7f; font-size: 12px; border-radius: 3px; border-color: #ff8e7f; color: #fff; }
.author-info { padding: 10px; overflow: hidden; }
.author-detial { float: left; width: 520px; border-right: solid 1px #ebedf1; }
.author-detial .user_photo { float: left; padding-left: 10px; }
.author-detial .user_photo img { border-radius: 50%; height: 60px; width: 60px; }
.author-detial p { float: left; width: 320px; padding-left: 10px; padding-top: 5px; margin-bottom: 0px; color: #afafaf; line-height: 22px; }
.author-detial p span { float: left; padding-right: 20px; }
.author-detial .name { padding-right: 0px; }
.author-detial .name a { display: inline-block; margin-right: 4px; color: #19a358; text-decoration: none; }
.author-detial p i { font-style: normal; }
.author-info .but { float: right; padding: 18px 10px 0 0; }
.author-info .but a { display: inline-block; margin: 0 5px; padding: 3px 10px; border-radius: 3px; }
.author-info .btn-home { border-color: #32b16c; color: #32b16c; }
.author-info .btn-home:hover { border-color: #32b16c; background: #32b16c; color: #fff; }
.author-info .btn-letter { border-color: #39bdfa; color: #069aef; }
.author-info .btn-letter:hover { border-color: #39bdfa; background: #39bdfa; color: #fff; }
.article-pager { width: 100%; background: #f3f3f3; padding: 4px 10px; border-radius: 4px; }
.article-pager ul { margin: 0px; padding: 6px 0; font-size: 14px; overflow: hidden; }
.article-pager ul li { float: left; line-height: 24px; }
.article-pager .previous a, .article-pager .next a { float: left; display: inline-block; width: 280px; height: 24px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.article-pager span { float: left; }
.article-pager .next { float: right; }
.comment-bright { width: 100%; margin-top: 30px; }
.comment-bright ul { padding: 10px 0px 0; }
.comment-bright ul li { padding: 15px 0px 15px 12px; border-bottom: solid 1px #f0f0f0; line-height: 20px; overflow: hidden; }
.comment-bright ul li p { float: right; width: 800px; padding: 0px; margin: 0px; font-size: 12px; }
.comment-bright ul li span { float: left; }
.comment-bright .user_photo { float: left; padding-right: 10px; }
.comment-bright .user_photo img { border-radius: 50%; width: 40px; height: 40px; }
.comment-bright .reply { float: right; }
.comment-bright .reply a { color: #069aef; }
.comment-bright .explain { color: #a8a8a8; padding-left: 10px; }
.comment-bright .tit { display:block; overflow:hidden; }
.comment-bright .name a { color: #1da55b; }
.comment-bright .icon-f img { margin: 0px; padding: 0px; }
.comment-bright .rank { float: left; color: #1da55b; padding-left: 10px; }
.comment-bright .txt { display:block; overflow:hidden; color: #5b5b5b; }
.comment-bright .txt img { max-width: 400px; }
.comment-bright .but { float: left; width: 100%; }
.comment-bright .vote { float: right; }
.comment-bright .vote a { float: left; padding-left: 12px; background: url(http://image.3001.net/images/new/light.png) no-repeat 0 3px; }
.comment-bright .vote a:hover { color: #ed4747; background: url(http://image.3001.net/images/new/light.png) no-repeat 0 -24px; }
.comment-bright .vote-count { float: right; color: #32b16c; }
.comment-list { width: 100%; margin-top: 30px; }
.comment-list .main-tit02 h3 span { color: #ea6060; }
.comment-list ul { padding: 1px 0px 0; display:inline; }
.comment-list ol { padding: 1px 0px 0; }
.comment-list .btn-comment { float: right; padding-left: 22px; font-size: 14px; background: url(http://image.3001.net/images/new/comment-bg.png) no-repeat 0px 4px; color: #626262; }
.comment-list .btn-comment:hover { color: #1a98e0; background: url(http://image.3001.net/images/new/comment-bg.png) no-repeat 0px -29px; }
.comment-list .explain { color: #838383; }
.comment-list ul li { display:inline-block; width:100%; padding:10px; }
.comment-list ul li span { float: left; padding-right: 6px; }
.comment-list .photo { float: left; padding-right: 10px; }
.comment-list .photo img { border-radius: 50%; width: 40px; height: 40px; }
.comment-list .tit { display: block; overflow:hidden; }
.comment-list .tit .weibo { float: right; display: inline-block; width: 23px; height: 14px; background: url(http://image.3001.net/images/new/icon-weibo.jpg) no-repeat right center; }
.comment-list .name a { color: #1da55b; }
.comment-list .icon-f img { margin: 0px; padding: 4px 0 0 0; }
.comment-list .rank { float: left; color: #1da55b; }
.comment-list .time { float: left; color: #c1c1c1; }
.comment-list .time input { border: 0 none; height: 20px; }
.comment-list .children .time input { background: #f4f4f4; }
.comment-list .floor { float: right; color: #1da55b; }
.comment-list .txt { color: #838383; display:block; overflow:hidden; margin-bottom:3px; }
.comment-list .txt img { max-width: 400px; }
.comment-list .txt p { margin-bottom: 0; padding-top: 1px; color: #5b5b5b; }
.comment-list .reply { float: right; }
.comment-list .reply a { color: #069aef; }
.comment-list .but { float: left; width: 100%; }
.comment-list .vote { float: right; color: #32B16C; padding-right: 4px; }
.comment-list .vote span { float: none; padding-right: 0; }
.comment-list .vote a { float: left; padding: 0 6px 0 14px; background: url(http://image.3001.net/images/new/light.png) no-repeat 0 1px; color: #666; }
.comment-list .vote a:hover { color: #ed4747; background: url(http://image.3001.net/images/new/light.png) no-repeat 0 -26px; }
.comment-list .vote-count { float: right; padding-left: 6px; color: #32b16c; }
.comment-list .children {  }
.comment-list .children .children { margin: 0px; padding-top: 10px; border: 0; }
.comment-list .depth-1 { padding: 14px 0px 10px 10px; border-bottom: 1px solid #f0f0f0; }
.comment-list .depth-2 { border-bottom: 1px dotted #dbdbdb; line-height: 18px; background: #f6f6f6; }
.comment-list .depth-3 { border-top: 1px dotted #dbdbdb; padding: 15px 0px 0px 12px; line-height: 18px; background: #f6f6f6; }
#comment-69403 { display:inline-block; overflow:hidden; width:100%; }
.reply-tit, .reply-txt { float: right; width: 730px; padding: 0px; margin: 0px; font-size: 12px; }
.children .info { float: left; min-width: 600px; color: #838383; }
.reply-btn { float: left; width: 100%; }
.read { width: 100%; overflow: hidden; padding-bottom: 10px; }
.read .photo { width: 100%; overflow: hidden; padding-top: 20px; position: relative; z-index: 0; }
.read .photo p { width: 270px; font-size: 16px; line-height: 24px; position: absolute; z-index: 99; bottom: 0px; margin-bottom: 0px; }
.read .photo p a { float: left; padding: 0 10px; width: 270px; height: 32px; line-height: 32px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #fff; position: absolute; z-index: 99; bottom: 0px; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); }
.read ul { width: 100%; padding: 0px; overflow: hidden; }
.read ul li { float: left; width: 100%; border-bottom: solid 1px #f0f0f0; }
.read ul li a { float: left; height: 36px; padding-left: 20px; line-height: 36px; font-size: 14px; background: url(http://image.3001.net/images/new/icon-fk.jpg) no-repeat 7px 18px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ad-wrap { width: 100%; padding-bottom: 20px; }
.ad-wrap img { width: 100%; }
.rec-spe { margin-bottom: 20px; padding: 10px 0; }
.rec-img { text-align: center; padding: 20px 0; }
.rec-img img { max-width: 100%; }
.code { padding: 10px; text-align: center; margin-top: 16px; }
.children .comment-box { padding-right: 1%; }
.comment-box { width: 100%; padding-top: 20px; float: right; }
.comment-box .text { width: 100%; line-height: 30px; overflow: hidden; }
.comment-box .name { float: left; font-size: 16px; }
.comment-box .name a { display: inline-block; font-size: 16px; color: #069aef; line-height: 10px; }
.comment-box .tips { float: right; color: #838383; }
.comment-box .tips a { color: #069aef; }
.comment-box .box { width: 100%; padding-bottom: 10px; }
.comment-box .but { width: 100%; padding-top: 10px; }
.comment-box .but input { float: left; margin-right: 20px; }
.comment-box .but a { float: left; margin-right: 20px; }
.comment-box .checkbox { float: left; }
.comment-box .login-input { float: left; width: 620px; }
.comment-box .login-input p { float: left; margin-right: 10px; }
.comment-box .login-input span { float: left; padding-right: 10px; color: #666; line-height: 28px; }
.comment-box .login-input .simplemodal-login a { color: #31b06b; }
.comment-box .login-other { float: right; }
.comment-box .post-area { float: left; width: 100%; }
.post-area #smileys { width: 660px; }
.comments-loading { display: none; background: none!important; height: 30px; text-align: center; margin-bottom: 20px }
#comment-author-info { padding-top: 10px; padding-bottom: 10px; overflow: hidden; }
#comment-author-info p { border-radius: 3px; border: #ccc 1px solid; width: 336px }
#comment-author-info p:hover, #comment-author-info p.on { box-shadow: 0 0 4px #ddd; color: #222; border-color: #bbb }
#comment-author-info p:hover label, #comment-author-info p.on label { border-color: #bbb }
#comment-author-info label { width: 62px; height: 26px; line-height: 19px; padding: 4px; text-align: center; border-top-left-radius: 2px; border-bottom-left-radius: 2px; border-right: #ccc 1px solid; display: inline-block; margin: 0px; }
#comment-author-info p small { font-size: 12px; color: #888; left: 336px; width: 200px }
#comment-author-info input { width: 268px; height: 26px; line-height: 26px; padding: 4px; border: 0 }


