<div class="container" style="padding-top: 80px;padding-bottom: 30px;">

    <div class="col-sm-10 padding-t15">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo _("la_3384");?></th>
                <th><?php echo _("la_2891");?></th>
            </tr>
        </thead>
        <tbody id="mx-content">
            <?php $Noid=($output['data']['page']-1)*$output['data']['pagesize'];?>
            <?php foreach ($output['list'] as $key => $value): ?>
            <tr>
                <td><?php echo $value['subject'];?></td>
                <td class="username"><?php echo $value['abstract'];?></td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>
    </div>
</div>