<div class="container">
  <div class="col-xs-12 col-sm-8">

    <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li><a href="/t">礼包圈</a></li>
      <li class="active">详情</li>
    </ol>

    <div class="starter-template">
      <!-- 搜索结果列表 -->
      <div class="wrap-col">
        <p><h2>邮件：service@115app.com</h2></p>
      </div>
    </div>

  </div>


  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" style="width:350px;">
  </div><!--/.sidebar-offcanvas-->


</div><!-- /.container -->