<div class="col-sm-12">
    <div class="row">
        <ol class="breadcrumb">
            <li><a style="color:#333"><h4><?php echo _("la_4542");?></h4></a></li>
            <li class="pull-right" style="margin-top: -15px;">
                <select class="form-control" id="language" name="language">
                    <option value="cs" <?php if(I18nHelper::getInstance()->user_lang=='cs')echo "selected=true";?> >
                    <?php echo _("cur_lang_name","cs");?>
                    </option>
                    <option value="en" <?php if(I18nHelper::getInstance()->user_lang=='en')echo "selected=true";?> >
                    <?php echo _("cur_lang_name","en");?> </option>
                </select>
            </li>
        </ol>
    </div>
</div>
<div class="col-sm-12 font-14" style="margin-bottom:20px;margin-left:-15px;">
    <a href="/lamin_project/index" class="btn btn-default"><?php echo _("la_607");?></a>
    <a href="/pro_project/index" class="btn btn-default"><?php echo _("la_4543");?></a>
    <a href="/type_lamin/list" class="btn btn-default"><?php echo _("la_4544");?></a>
    <a href="/user_manage/index" class="btn btn-default"><?php echo _("la_4545");?></a>
</div>
<script type="text/javascript">
// 切换语言
$("#language").change(function(){
    var language = $("#language").val();
    var newUrl = $.query.set("_lang_", language);
    url = newUrl.toString();
    location.href=url;
});
</script>