<!DOCTYPE html>
<html lang="zh-CN">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title><?php echo $this->title;?></title>
    <base target="_top">
    <!-- <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.3.0/css/amazeui.min.css"/> -->
     <!-- <link rel="stylesheet" type="text/css" href="//tor.zhidaohu.com/media/vendor/bootstrap/css/metro-bootstrap.css"/> -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
    <!-- <script type="text/javascript" src="/public/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/public/js/jquery-query.js"></script> -->
    <!-- <script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.3.0/js/amazeui.js"></script> -->
    <!-- <script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.3.0/js/amazeui.legacy.js"></script> -->
    <!-- <script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.3.0/js/amazeui.widgets.helper.js"></script> -->

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!-- <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script> -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <body>
        <?php
        echo $this->content;
        ?>

        <footer class="footer">
            <div class="container">
              <p class="text-muted">©2015</p>

              <div data-am-widget="gotop" class="back-to-top pull-right">
                <a href="#top" title="回到顶部">
                  <span class="am-gotop-title">回到顶部</span>
                  <i class="am-gotop-icon am-icon-chevron-up"></i>
                </a>
              </div>
            </div>
        </footer>
    </body>
</html>