<!DOCTYPE html>
<html lang="zh-CN">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title><?php echo $this->title;?></title>
    <base target="_top">
    <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.3.0/css/amazeui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
    <!-- <script type="text/javascript" src="/public/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/public/js/jquery-query.js"></script> -->
    <script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.3.0/js/amazeui.js"></script>
    <!-- <script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.3.0/js/amazeui.legacy.js"></script> -->
    <!-- <script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.3.0/js/amazeui.widgets.helper.js"></script> -->
    <body>
        <?php
        echo $this->content;
        ?>

        <footer class="footer am-container">
            <p><small>©2015</small></p>
        </footer>
    </body>
</html>