<script type='text/javascript'>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
      '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
  })();
</script>

<script type='text/javascript'>
  googletag.cmd.push(function() {
    googletag.defineSlot('/41507130/115app-300250', [300, 250], 'div-gpt-ad-1429984565340-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>

<div class="container">
  <div class="col-xs-12 col-sm-9">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="am-active">礼包圈</li>
  </ol>
  <div class="starter-template">

    <!-- 结果列表 -->
    <ul class="list-group">
    <?php foreach ($output['list'] as $key => $value): ?>
      <li class="list-group-item">
      <a href="/info/<?php echo $value['id'];?>" ><p class="text-justify"><?php echo $value['subject'];?></p></a>
      <span class="badge"><?php echo date("Y-m-d",$value['post_time']);?></span>
      <div class=""><p class="text-justify"><?php echo $value['abstract'];?></p></div>
      </li>
      <?php endforeach;?>
    </ul>

  </div>
  </div>
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="form-group has-active search-col search-in">
        <form id="hpsform-new" class="navbar-search navbar-form">
            <div class="form-group">
                <input id="sidebar_q" class="input form-control" type="text" placeholder="关键字查找" autocomplete="off" title="关键字查找" name="q">
                <button id="sidebar_search" class="submit" value="Search" type="submit"></button>
            </div>
        </form>
    </div>

  </div><!--/.sidebar-offcanvas-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <!-- /41507130/115app-300250 -->
    <div id='div-gpt-ad-1429984565340-0' style='height:250px; width:300px;'>
<!--     <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1429984565340-0'); });
    </script> -->
    </div>
  </div>

  <nav>
  <?php echo $output['paginate'];?>
  </nav>
</div><!-- /.container -->



<script type="text/javascript">

document.forms[0].onsubmit = function (e) {
  e.preventDefault();
  var query = document.getElementById("index_search").value;
  if (!query) {
    document.getElementById("index_search").focus(); return false;
  }
  var url = '/s/' + encodeURIComponent(query) + '/1';
  window.location= url;
  return false;
}
</script>