<script type='text/javascript'>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
      '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
  })();
</script>

<script type='text/javascript'>
  googletag.cmd.push(function() {
    googletag.defineSlot('/41507130/115app-300250', [300, 250], 'div-gpt-ad-1429984565340-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">115礼包资源</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">礼包圈</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="col-xs-12 col-sm-8">

  <div class="ggad" >
    <!-- <h1>Example page header <small>Subtext for header</small></h1> -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 115app auto -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3026112168181544"
         data-ad-slot="6559413394"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/t">礼包圈</a></li>
    <li class="active">详情</li>
  </ol>
  <div class="starter-template">


    <!-- 搜索结果列表 -->
    <div class="wrap-col">
      <article class="am-article">
        <div class="heading">
          <h2 class="text-justify"><?php echo $output['detail']['subject'];?></h2>
          <p class="text-justify"><a href="<?php echo Yaf_Registry::get("config")->webroot;?>"><?php echo Yaf_Registry::get("config")->webroot;?></a> posted on <?php echo date("Y-m-d",$output['detail']['post_time']);?></p>
        </div>

        <div class="info">
          <p class="lead text-justify"><?php echo $output['detail']['abstract'];?></p>
        </div>

        <div class="content">

          <!-- <hr class="am-article-divider"/> -->
<!--           <div class="am-align-left" id="ad1">
            <img src="http://global.bing.com/az/hprichbg/rb/UchisarCastle_EN-US10838608428_1920x1080.jpg" alt="" width="240">
          </div> -->
          <div class="text-left"><?php echo $output['detail']['deal_content'];?></div>
<!--           <div class="am-align-right"><img src="http://global.bing.com/az/hprichbg/rb/UchisarCastle_EN-US10838608428_1920x1080.jpg" alt="" width="240"></div>
          </div> -->
        </div>
      </article>
    </div>

  </div>

  </div>


  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" style="width:350px;">

    <div id="sidebar_latest" class="panel panel-default" style="">
      <div class="panel-heading">
        <h3 class="panel-title">最近更新</h3>
      </div>
      <div class="panel-body list-group">
        <!-- <ul class=""> -->
        <?php foreach ($output['latest_list'] as $key => $value): ?>
          <li class="list-style">
          <a href="/info/<?php echo $value['id'];?>" ><p class="text-justify"><?php echo $value['subject'];?></p></a>
          </li>
          <?php endforeach;?>
        <!-- </ul> -->
      </div>
    </div>

    <div id="sidebar_recommend" class="panel panel-default" style="">
      <div class="panel-heading">
        <h3 class="panel-title">猜你喜欢</h3>
      </div>
      <div class="panel-body list-group">
        <?php foreach ($output['latest_list'] as $key => $value): ?>
          <li class="list-group-item">
          <a href="/info/<?php echo $value['id'];?>" ><p class="text-justify"><?php echo $value['subject'];?></p></a>
          </li>
          <?php endforeach;?>
      </div>
    </div>

    <div class="ggad" style="width:300px;height:250px">
      <!-- <div class="panel-heading">Panel heading without title</div> -->
      <div class="panel-body" id="ggad-sidebar">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 115app sitebar -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-3026112168181544"
             data-ad-slot="5119706197"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>

    <!-- /41507130/115app-300250 -->
    <div id='div-gpt-ad-1429984565340-0' style='height:250px; width:300px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1429984565340-0'); });
    </script>
    </div>

  </div><!--/.sidebar-offcanvas-->


</div><!-- /.container -->


<script type="text/javascript">
$('.content a').attr('target', '_blank');
</script>