<div class="am-container col-sm-centered" style="am-vertical-align">

    <div class="col-sm-10 padding-t15 col-sm-centered">
    <ol class="am-breadcrumb">
      <li><a href="/" class="am-icon-home">首页</a></li>
      <li><a href="/t">礼包圈</a></li>
      <li class="am-active">详情</li>
    </ol>


    <article class="am-article">
      <div class="am-article-hd">
        <h1 class="am-article-title"><?php echo $output['detail']['subject'];?></h1>
        <p class="am-article-meta"><a href="<?php echo Yaf_Registry::get("config")->webroot;?>"><?php echo Yaf_Registry::get("config")->webroot;?></a> posted on <?php echo date("Y-m-d",$output['detail']['post_time']);?></p>
      </div>

      <div class="am-article-bd">
        <p class="am-article-lead"><?php echo $output['detail']['abstract'];?></p>
        <hr class="am-article-divider"/>
        <div class="am-u-sm-11 am-u-sm-centered">
        <div class="am-align-left" id="ad1">
          <img src="http://global.bing.com/az/hprichbg/rb/UchisarCastle_EN-US10838608428_1920x1080.jpg" alt="" width="240">
        </div>
        <?php echo $output['detail']['deal_content'];?>
        <div class="am-align-right"><img src="http://global.bing.com/az/hprichbg/rb/UchisarCastle_EN-US10838608428_1920x1080.jpg" alt="" width="240"></div>
        </div>
      </div>
    </article>

    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
      <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
      </a>
    </div>

    </div>
</div>
<script type="text/javascript">
$('.am-article-bd a').attr('target', '_blank');
</script>
<script type="text/javascript" src="http://q.115.com/static/wap/version3.0/js/con_q.js?v=20150401230"></script>